{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Controller",
            "Kernel.php"
        ]
    },
    "logs": {
        "text": "build\/infection.log"
    },
    "mutators": {
        "@default": true
    }
}